# StepAway Server Configuration
APP_PORT=3344
NODE_ENV=production

# Google OAuth 2.0 Credentials (From Google Cloud Console)
# Authorized JavaScript origins: https://stepaway.endrisusanto.my.id (and http://localhost:3344 for local test)
# Authorized redirect URIs: https://stepaway.endrisusanto.my.id/api/auth/google/callback (and http://localhost:3344/api/auth/google/callback)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=https://stepaway.endrisusanto.my.id/api/auth/google/callback
